.cadastro {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 6%;
    margin-top: 3%;
    width: 80%;
    height: 80%;

}

h2 {
    margin-top: 10px;
    margin-left: 8px;
}

.cadastro1 {
    background: rgba(255, 255, 255, 0.659);
    min-height: 570px;
    align-items: center;
    border-radius: 20px;
    padding: 12px;
    box-shadow: 1px 1px 18px #888888;
}

.form {
    width: 100%;
    height: fit-content;
}

.form-mat {
    width: 100%;
}

.form-senha {
    margin-left: 8px;
}

@media (max-width: 800px) {
    .cadastro {
               width: 100%;
        height: 100%;

    }

    .imagem {
        display: none;
    }

    .cadastro1 {
        border-radius: 20px;
        width: 100%;
        box-shadow: 1px 1px 18px #5a5353;
    }
    .posicao{
        position: static;
    }

    .form {
        width: 100%;
        height: 100%;
        padding: 6px;
    }
}

.scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.botoes {
    display: flex;
    flex-direction: column;
    padding: 2%;
    margin-top: 2%;
}

.botoesLogin {
    display: flex;
    flex-direction: row;
    padding: 2%;
    margin-top: 2%;
}


.valid {
    color: green;
    border-color: green;
}

.posicao{
    position: absolute;
    top: 45%;
    left: 80%;
    right: 35%;
    
}

::ng-deep body {
    background:"https://i.pinimg.com/originals/1e/94/b1/1e94b117d29d1f5c5c272d9eda17d9dc.png";
}
// .centralizado div:first-child{
//     position: absolute;

// }

// .centralizado div:last-child{
//     position: relative;
// }