<div >
    <h2 style="text-align:center ">Deletar Usuario</h2>
    <h3  style="text-align:center ">{{data.responsividade}}</h3>
    <div class="responsive">
        
        <img class="responsive" src="{{data.url}}"  width="40%" height="40%" alt="">
    </div>
   <div class="dialog">

       <button class="btn btn-warning"  (click)="clicarfechar()"> cancelar</button>
   </div>
   <div class="dialog">

       <button class="btn btn-danger"  (click)="clicardeletar()"> deletar</button>
   </div>

</div>