<div *ngIf="data2">
    <div>
        <button mat-button color="warn" style="float: right;" (click)="clicarfechar()" > <mat-icon> close</mat-icon></button>
            <h2 style="text-align:center ;">Detalhes</h2>
           
        <div class="input" >
        <form  class="form animate__bounce">
        <mat-form-field class="form-mat" appearance="outline">
          <mat-label><strong> Email</strong></mat-label>

          <input matInput disabled value="{{data2.email}}" />
        </mat-form-field>
        <mat-form-field class="form-mat" appearance="outline">
          <mat-label><strong> Admin</strong></mat-label>

          <input matInput disabled value="{{data2.customClaims.admin}}" />
        </mat-form-field>
        <mat-form-field class="form-mat" appearance="outline">
        <mat-label><strong> superAdmin</strong></mat-label>
  
         <input matInput disabled value="{{data2.customClaims.superAdmin}}" />
        </mat-form-field>
        <mat-form-field class="form-mat" appearance="outline">
        <mat-label><strong> Desabilitado</strong></mat-label>
  
         <input matInput disabled value="{{data2.disabled}}" />
        </mat-form-field>

        </form>
      </div>
      <h4>Foto Perfil</h4>
      <img src="{{data2.photoURL}}" alt="" width="100%" height="50%"> 
    </div>
</div>
